@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  position: relative;
}

.container {
  padding: 4rem 1.5rem;
}

.bg-top img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.bg-bottom img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: auto;
  z-index: -1;
}

.desc-container h1 {
  color: #502050;
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
}
.desc-container p {
  color: #937b92;
  text-align: center;
  font-size: 1rem;
  padding: 0 0.5rem;
  margin-bottom: 3rem;
}

.reviews .review {
  display: grid;
  grid-auto-flow: row;
  gap: 0.75rem;
  background-color: #f7f2f7;
  margin-bottom: 1.25rem;
  padding: 1.25rem 0;
  border-radius: 7px;
}
.reviews .review div {
  display: grid;
  grid-auto-flow: column;
  gap: 0.75rem;
  margin: 0 auto;
}
.reviews .review div img {
  display: block;
  width: 20px;
}
.reviews .review h3 {
  text-align: center;
  color: #502050;
}

.testaments {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
}
.testaments .testament {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto;
  background-color: #502050;
  color: #f7f2f7;
  padding: 2.5rem;
  border-radius: 10px;
}
.testaments .testament img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  margin-right: 1.25rem;
}
.testaments .testament div {
  align-self: center;
}
.testaments .testament p {
  grid-row: 2/span 1;
  grid-column: 1/span 2;
  margin-top: 1.75rem;
  font-size: 0.9rem;
  line-height: 1.75;
}
.testaments .testament .verified-text {
  font-weight: 400;
  color: #ee68a4;
  margin-top: 0.25rem;
}

img {
  display: block;
}

@media (min-width: 970px) {
  body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto;
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
  }

  .bg-top img {
    width: 30%;
    content: url("./images/bg-pattern-top-desktop.svg");
  }

  .bg-bottom img {
    width: 70%;
    content: url("./images/bg-pattern-bottom-desktop.svg");
  }

  .desc-container {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
  .desc-container h1 {
    text-align: left;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    width: 350px;
  }
  .desc-container p {
    text-align: left;
    font-size: 0.85rem;
    padding: 0;
    line-height: 1.75;
    width: 420px;
  }

  .reviews {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    align-self: center;
    justify-self: flex-end;
    margin-bottom: 3rem;
  }
  .reviews .review {
    grid-auto-flow: column;
    grid-template-columns: min-content auto;
    gap: 2.25rem;
    margin-bottom: 1rem;
    width: 450px;
    padding: 1rem 1.75rem;
  }
  .reviews .review div img {
    width: 15px;
  }
  .reviews .review h3 {
    text-align: left;
    font-size: 0.85rem;
  }
  .reviews .review:first-child {
    transform: translateX(-20%);
  }
  .reviews .review:nth-child(2) {
    transform: translateX(-10%);
  }

  .testaments {
    grid-auto-flow: column;
    gap: 1.5rem;
    grid-row: 2/span 1;
    grid-column: 1/span 2;
  }
  .testaments .testament {
    padding: 2.5rem 2rem;
  }
  .testaments .testament p {
    font-size: 0.85rem;
    padding-right: 0.6rem;
  }
  .testaments .testament:nth-child(2) {
    transform: translateY(5%);
  }
  .testaments .testament:last-child {
    transform: translateY(10%);
  }
}

/*# sourceMappingURL=styles.css.map */
