@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

// primary
$veryDarkMagenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%);

// neutral
$darkGrayishMagenta: hsl(303, 10%, 53%);
$lightGrayishMagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// font-family 400,500,700
$spartan: "Spartan", sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $spartan;
	font-size: 15px;
	width: 100%;
	height: auto;
	overflow-x: hidden;
	position: relative;
}

.container {
	padding: 4rem 1.5rem;
}

.bg-top {
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		z-index: -1;
	}
}

.bg-bottom {
	img {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
		height: auto;
		z-index: -1;
		// background-color: red;
	}
}

.desc-container {
	h1 {
		color: $veryDarkMagenta;
		text-align: center;
		padding: 0 2rem;
		margin-bottom: 1.5rem;
	}
	p {
		color: $darkGrayishMagenta;
		text-align: center;
		font-size: 1rem;
		padding: 0 0.5rem;
		margin-bottom: 3rem;
	}
}

.reviews {
	.review {
		display: grid;
		grid-auto-flow: row;
		gap: 0.75rem;
		background-color: $lightGrayishMagenta;
		margin-bottom: 1.25rem;
		padding: 1.25rem 0;
		border-radius: 7px;
		div {
			display: grid;
			grid-auto-flow: column;
			gap: 0.75rem;
			margin: 0 auto;

			img {
				display: block;
				width: 20px;
			}
		}
		h3 {
			text-align: center;
			color: $veryDarkMagenta;
		}
	}
}

.testaments {
	display: grid;
	grid-auto-flow: row;
	gap: 1rem;

	// screen width: 427px
	.testament {
		// min-content takes smallest size item
		display: grid;
		grid-template-columns: min-content auto;
		grid-template-rows: auto auto;
		background-color: $veryDarkMagenta;
		color: $lightGrayishMagenta;
		padding: 2.5rem;
		border-radius: 10px;

		img {
			width: 50px;
			height: auto;
			border-radius: 50%;
			margin-right: 1.25rem;
		}

		div {
			align-self: center;
		}

		p {
			grid-row: 2 / span 1;
			grid-column: 1 / span 2;
			margin-top: 1.75rem;
			font-size: 0.9rem;
			line-height: 1.75;
		}

		.verified-text {
			font-weight: 400;
			color: $softPink;
			margin-top: 0.25rem;
		}
	}
}

img {
	display: block;
}

@media (min-width: 970px) {
	body {
		display: grid;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
	.container {
		display: grid;
		grid-template-columns: min-content auto;
		grid-template-rows: auto auto;
		max-width: 1200px;
		padding: 0 1rem;
		margin: 0 auto;
	}
	.bg-top {
		img {
			width: 30%;
			content: url("./images/bg-pattern-top-desktop.svg");
		}
	}

	.bg-bottom {
		img {
			width: 70%;
			content: url("./images/bg-pattern-bottom-desktop.svg");
		}
	}
	.desc-container {
		grid-column: 1 / span 1;
		grid-row: 1 / span 1;
		h1 {
			text-align: left;
			padding: 0;
			margin-bottom: 0.5rem;
			font-size: 2.5rem;
			width: 350px;
		}
		p {
			text-align: left;
			font-size: 0.85rem;
			padding: 0;
			line-height: 1.75;
			width: 420px;
		}
	}
	.reviews {
		grid-column: 2 / span 1;
		grid-row: 1 / span 1;
		align-self: center;
		justify-self: flex-end;
		margin-bottom: 3rem;
		.review {
			grid-auto-flow: column;
			grid-template-columns: min-content auto;
			gap: 2.25rem;
			margin-bottom: 1rem;
			width: 450px;
			padding: 1rem 1.75rem;

			div {
				img {
					width: 15px;
				}
			}
			h3 {
				text-align: left;
				font-size: 0.85rem;
			}
		}
		.review:first-child {
			transform: translateX(-20%);
		}
		.review:nth-child(2) {
			transform: translateX(-10%);
		}
	}

	.testaments {
		grid-auto-flow: column;
		gap: 1.5rem;
		grid-row: 2 / span 1;
		grid-column: 1 / span 2;

		// screen width: 427px
		.testament {
			padding: 2.5rem 2rem;

			p {
				font-size: 0.85rem;
				padding-right: 0.6rem;
			}
		}
		.testament:nth-child(2) {
			transform: translateY(5%);
		}
		.testament:last-child {
			transform: translateY(10%);
		}
	}
}
